<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Beer Fermentation Logger</title>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.navigate.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
	<script type="text/javascript">

	$(function() {

		var d1 = {{ tempdata }};

		var data = [ d1 ],
			placeholder = $("#placeholder");

		var plot = $.plot(placeholder, data, {
			series: {
				lines: {
					show: true
				},
				shadowSize: 0
			},
			xaxis: {
				mode: "time",
				zoomRange: [600000, null],
				panRange: [{{ min_x_axis }}, {{ max_x_axis }}]
			},
			yaxis: {
				zoomRange: [2, null],
				panRange: [{{ min_y_axis }}, {{ max_y_axis }}]
			},
			zoom: {
				interactive: true
			},
			pan: {
				interactive: true
			}
		});


	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Beer Fermentation Temperature Monitor</h2>
		<h2>est Profile</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<em>This plot shows the temperature recorded by a temp sensor hooked up to an arduino.  The temperature is sent and recorded approximately once per minute, and the data is displayed here using Flask and Flot. You can zoom in and out of the chart area using your mouse wheel and click-and-drag.</em>

		<p>This profile is a test run of the sensor and was montiroing the ambient temperature in the room, not an active fermentation. This gives a good baseline for what the ambient temperature will look like, so I can compare the fluctuations in ambient due to space conditioning, with the fluctuations when it is hooked up to an actual fermentation.</p>

		<p>To see other fermentation profiles, see the links below:</p>

		<li><a href="{{ url_for('home_page') }}">Honey Ale</a></li>

		<li><a href="{{ url_for('ip_page') }}">Imperial Stout</a></li>

		<li><a href="{{ url_for('sorachi_page') }}">Single Hop Sorachi</a></li>

		<li><a href="{{ url_for('cascade_page') }}">Single Hop Cascade</a></li>

	</div>

</body>
</html>