<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Beer Fermentation Logger</title>
	<link href="http://www.flotcharts.org/flot/examples/examples.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.navigate.js"></script>
	<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.time.js"></script>
	<script type="text/javascript">

	$(function() {

		var d1 = {{ tempdata }};

		var data = [ d1 ],
			placeholder = $("#placeholder");

		var plot = $.plot(placeholder, data, {
			series: {
				lines: {
					show: true
				},
				shadowSize: 0
			},
			xaxis: {
				mode: "time",
				zoomRange: [600000, null],
				panRange: [{{ min_x_axis }}, {{ max_x_axis }}]
			},
			yaxis: {
				zoomRange: [2, null],
				panRange: [{{ min_y_axis }}, {{ max_y_axis }}]
			},
			zoom: {
				interactive: true
			},
			pan: {
				interactive: true
			}
		});


	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Single Hop (Simcoe) Pale Ale</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>This plot shows the temperature recorded by a temp sensor hooked up to an arduino.  The temperature is sent and recorded approximately once per minute, and the data is displayed here using Flask and Flot.</p>

		<p>Currently the temperature sensor is hooked up to a one gallon batch of a single hop pale ale.</p>

		<p>To see previous fermentation profiles, see the links below:</p>

		<li><a href="{{ url_for('test_page') }}">Test Profile</a></li>

	</div>

</body>
</html>